{% load static %}

<div class="sidebar djk-bg-darker"
     data-color="djk" data-background-color="white">

      <a href="https://djk-sonnen.de/" target="_blank">
          <div style="width: 100%; display:block;" class="logo">
            <img style="width: 100%; padding: 0 70px 0 70px; " src="{% static 'vendor/material-dashboard/assets/img/logo_border.png' %}">
          </div>
      </a>
      <div style="width: 100%; display: block; align-content: center; text-align: center; " class="logo">
        <a href="/" style="color: white!important;">
            <h1 style="display: inline-block; font-weight: bold; font-size: 28px; padding: 15px 0 15px 0; ">SunRun!</h1>
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav d-lg-block d-md-none d-sm-none">
          <li class="nav-item active">
            <a class="nav-link" href="/">
              <i class="material-icons">dashboard</i>
              <p class="text-white">Dashboard</p>
            </a>
          </li>
        {% if user.is_authenticated %}
          <li class="nav-item active">
            <a class="nav-link" href="/group/list-user/">
              <i class="material-icons">groups</i>
              <p class="text-white">Meine Gruppen</p>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/run/list-user/">
              <i class="material-icons">directions_run</i>
              <p class="text-white">Meine Aktivitäten</p>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/route/list-user/">
              <i class="material-icons">map</i>
              <p class="text-white">Meine Routen</p>
            </a>
          </li>


          <li class="nav-item active">
            <a class="nav-link" href="/logout/">
              <i class="material-icons">logout</i>
              <p class="text-white">Abmelden</p>
            </a>
          </li>
        {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="/register/">
              <i class="material-icons">person</i>
              <p class="text-white">Registrieren</p>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/login/">
              <i class="material-icons">login</i>
              <p class="text-white">Anmelden</p>
            </a>
          </li>
        {% endif %}

        <a href="https://forms.gle/7y8kPdsBSDRSFd8c9">
            <div style="width: 100%; display: block; align-content: center; text-align: center;" class="logo">
                <h3 style="font-size: 20px!important;">Feedback Formular</h3>
            </div>
        </a>

            <!--
            <div style="width: 100%; display: block; align-content: center; text-align: center;" class="logo">
                <h3 style="font-size: 20px!important;">Schrittzähler <br>gesponsert von:</h3>
            </div>

            <a href="https://aok.de/" target="_blank">
                <div style="display: block; align-content: center; text-align: center;">
                    <img src="/media/sponsors/aok_logo.png" style="width: 80%; display: inline-block; margin: 0 auto 0 auto">
                </div>
            </a>
            -->
        </ul>
      </div>
</div>