<div>
    <h3 style="font-weight: bold;  font-size: 28px; display: inline-block">Aktivität</h3>


    <ul class="nav">
        <li class="nav-item active">
            <a class="nav-link btn btn-primary m-1" href="/run/create/"
               style="color: white!important;">
                <i class="material-icons">add</i> Aktivität erstellen
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link btn btn-primary m-1" href="/run/list-user/"
               style="color: white!important;">
                <i class="material-icons">list</i> Meine Aktivitäten
            </a>
        </li>
{#        <li class="nav-item active">#}
{#            <a class="nav-link btn btn-info" href="/run/create/"#}
{#               style="color: white!important;">#}
{#                <i class="material-icons">dashboard</i> Aktivität erstellen#}
{#            </a>#}
{#        </li>#}
{#        <li class="nav-item active">#}
{#            <a class="nav-link btn btn-success" href="/run/create/"#}
{#               style="color: white!important;">#}
{#                <i class="material-icons">dashboard</i> Aktivität erstellen#}
{#            </a>#}
{#        </li>#}
    </ul>

    <br>

</div>