{% load timedelta_filter %}

<div class="card m-xl-4 m-l-4 m-md-2 m-sm-1" style="width: 18rem; display: inline-block;">
  <div class="card-body">
    <h5 class="card-title">
        {% if run.type == "E-BIKE" %}
            <i class="material-icons">electric_bike</i>
        {% elif run.type == "BIKE" %}
            <i class="material-icons">directions_bike</i>
        {% elif run.type == "WALK" %}
            <i class="material-icons">directions_walk</i>
        {% else %}
{#            RUN #}
            <i class="material-icons">directions_run</i>
        {% endif %}

        {{ run.time_start }}

    </h5>
    <h6 class="card-subtitle mb-2 text-muted" style="color: dimgrey!important;">von

        {% if run.profile_handle %}
            <a href="https://www.strava.com/athletes/{{ run.profile_handle }}"
               style="font-weight: bold;">{{ run.creator }}</a>
        {% else %}
            {{ run.creator }}
        {% endif %}

    </h6>

    <p class="card-text"><b>Distanz / Höhenmeter: </b>{{ run.distance|floatformat:-1 }} km / {{ run.elevation_gain|floatformat:0 }} m</p>
    <p class="card-text"><b>Dauer: </b>{{ run.duration|timedelta:"{hours2}h {minutes2}min {seconds2}sek" }}</p>

    {% if run.note %}
        <p class="card-text"><b>Notiz: </b>{{ run.note }}</p>
    {% endif %}

    <p class="card-text">
        <a href="/strava-run/detail/{{ run.id }}/" class="card-link"><b>Details</b></a>
    </p>
  </div>
</div>