{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        <h2>Passwort zurücksetzen</h2>
        <br><br>
        {{ form|crispy  }}
        <br><br>
        <input type="submit" value="Passwort zurücksetzen" class="btn btn-primary">
    </form>

{#    	<!--Reset Password-->#}
{#	<div class="container p-5">#}
{#  	 	<h2 class="font-weight-bold mt-3">Passwort zurücksetzen</h2>#}
{#		<hr>#}
{#		<p>Um Ihr Passwort zurückzusetzen brauchen wir deine Email Adresse!</p>#}
{#        <form method="POST">#}
{#            {% csrf_token %}#}
{#            {{ password_reset_form|crispy }}#}
{#            <button class="btn btn-primary" type="submit">Email senden</button>#}
{#        </form>#}
{#  	</div>#}

{% endblock %}