<div>
    <h3 style="font-weight: bold;  font-size: 28px; display: inline-block">Route</h3>

    <ul class="nav">
        <li class="nav-item active">
            <a class="nav-link btn btn-primary m-1" href="/route/create/"
               style="color: white!important;">
                <i class="material-icons">add</i> Route erstellen
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link btn btn-primary m-1" href="/route/list-user/"
               style="color: white!important;">
                <i class="material-icons">list</i> Meine Routen
            </a>
        </li>
    </ul>
    <br>

</div>