<div>

    <nav>
        <div>
            <h2>Navbar/Sidebar</h2>
        </div>
        <div>
            <a href="/">Dashboard</a>
        </div>
        <br>
        <br>
        <h4>User</h4>
        <div>
            <a href="/login/">Login</a>
            <a href="/logout/">Logout</a>
            <a href="/register/">Register</a>
        </div>
        <br>
        <br>
        <h4>User</h4>
        <div>
            <a href="/profile/">Profile</a>
            <a href="/edit-profile/">Edit Profile</a>
        </div>
        <br>
        <br>
        <h4>Run</h4>
        <div>
            <a href="/run/">Dashboard via /run/</a><br/>
            <a href="/run/dashboard/">Dashboard via /run/dashboard/</a><br/>

            <a href="/run/detail/1/">Run 1 Detail</a>
            <a href="/run/create/">Run Create</a>
            <a href="/run/delete/42/">Run Delete</a>
            <a href="/run/edit/42/">Run Edit</a>
            <a href="/run/list/">List Runs</a>
{#            TODO verein runs#}
            <a href="/run/list-group/">List Group Runs</a>
            <a href="/run/list-user/">List User Runs</a>
        </div>
        <br>
        <br>
        <h4>Group</h4>
        <div>
            <a href="/group/">Dashboard via /run/</a><br/>
            <a href="/group/dashboard/">Dashboard via /run/dashboard/</a><br/>

            <a href="/group/create/">Run Create</a>
            <a href="/group/delete/42/">Run Delete</a>
            <a href="/group/edit/42/">Run Edit</a>
            <a href="/group/list/">List Runs</a>
            <a href="/group/list-club/">List Group Runs</a>
            <a href="/group/list-user/">List User Runs</a>
        </div>
        <br>
        <br>
        <h4>Statisch</h4>
        <div>
            <a href="/contact/">Kontakt</a>
            <a href="/imprint/">Impressum</a>
        </div>
    </nav>

</div>