{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% include "vendor/profile_card.html" %}

<div class="pr-3 pl-3">

    <div class="container-fluid">
        <h3 style="font-weight: bold;  font-size: 28px; margin-top: 24px;">Gesamtstatistik</h3>

        {% include "dashboard/community/day.html" %}
        {% include "dashboard/community/week.html" %}
        {% include "dashboard/community/month.html" %}
        {% include "dashboard/community/year.html" %}

    </div>

</div>

{% endblock content %}