{% extends "dashboard/dashboard_item.html" %}

{% block card_details_color_class %}
card-header-info
{% endblock %}

{% block card_details_color %}

{% endblock %}


{% block card_detail_icon %}
{#access_time_filled#}
emoji_events
{% endblock %}


{% block card_detail_title %}
{#Dauer#}
Punkte
{% endblock %}


{% block card_detail_detail %}
{#    {{ community_stats_day.duration }}#}
    {{ user_stats_day.score|floatformat:-1 }}
{% endblock %}

{% block card_footer_icon %}
{#access_time_filled#}
emoji_events
{% endblock %}


{% block card_footer_text %}
heute
{% endblock %}
