{% load static %}
{% load define_action %}

<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.38.0/js/tempusdominus-bootstrap-4.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.38.0/css/tempusdominus-bootstrap-4.min.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">


    <style>
        * {
            font-family: Arial;
        }
        a {
            padding: 5px 10px 5px 10px;
        }
    </style>

</head>
<body>
<h1>Based Template</h1>
<br>
<br>
<h1>Run Details</h1>
<h2>User: {{ request.user }}</h2>
<br>
<br>

<div class="row">
<!--div class="col-md-8"-->
  {% if messages %}
    {% for message in messages %}

        {% if message.tags %}
            {% if message.tags == 'success' %}
                {% define 'linear-gradient(60deg, #66bb6a, #43a047)' as msg_style %}
            {% elif message.tags == 'error' %}
                {% define 'linear-gradient(60deg, #ef5350, #e53935)' as msg_style %}
            {% elif message.tags == 'warning' %}
                {% define 'linear-gradient(60deg, #ffa726, #f57c00)' as msg_style %}
            {% elif message.tags == 'debug' %}
                {% define 'linear-gradient(60deg, #ffee58, #fdd835)' as msg_style %}
            {% else %}<!-- messages.info -->
                 {% define 'linear-gradient(60deg, #81d4fa, #29b6f6)' as msg_style %}
            {% endif %}
        {% else %}
            {% define 'linear-gradient(60deg, #81d4fa, #29b6f6)' as msg_style %}
        {% endif %}

        <div class="row" style="margin: 0 20px 0 20px; width: 100%;">
            <div class="alert alert-dark alert-{{ message.tags }}" role="alert"
            style="display: inline-block; margin: -10px auto 40px 20px; background:{{ msg_style }};
                        color: white; padding: 20px 50px 20px 30px; font-weight: bold; ">
                <i class="fa fa-exclamation-circle text-white" aria-hidden="true" style="padding-right: 10px"></i>
            {{ message }}
            </div>
        </div>

      <!--div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div-->
    {% endfor %}
  {% endif %}
<!--/div-->
</div>



<br>
<br>
{% include "sidebar.html" %}

<br>
<br>

{% block content %}

    replace this!

{% endblock %}

</body>
</html>